.cartcontral
  font-size 0
  .cart-decrase, .cart-add
    display inline-block
    padding 6px
    line-height 24px
    font-size 24px
    color rgb(0, 160, 220)
  .cart-decrase
    &.move-enter-active
      transition all .4s ease
    &.move-enter
      opacity .8

      transform translate3d(24px, 0, 0) rotate(180deg)
    &.move-leave
      transform translate3d(0, 0, 0)
  .cart-count
    display inline-block
    vertical-align top
    width 14px
    padding-top 8px
    line-height 24px
    font-size 12px
    text-align center
    font-weight 500
    color rgb(147, 153, 159)
  .cart-add
    display inline-block
