.cartcontral
  font-size 0
  .cart-decrase, .cart-add
    display inline-block
    padding 6px
    line-height 24px
    font-size 24px
    color rgb(0, 160, 220)
    transition all .4s linear
  .move-transition
    opacity 1
    transform translate3D(0, 0, 0)
  .move-enter, .move-leave
    opacity 0
    transform translate3D(24px, 0, 0)
  .cart-count
    display inline-block
    vertical-align top
    width 14px
    padding-top 8px
    line-height 24px
    font-size 12px
    text-align center
    font-weight 500
    color rgb(147, 153, 159)
  .cart-add
    display inline-block
